.App{
  height: 100vh;
  padding-top: 10px; /*que no este tan arriba*/
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap; /*Que no todos los elementos esten en la misma linea y que se ajusten a su tamaño*/
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.logo-app{
  height: 100px;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid black;
}

.fila{
  margin: 4px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

